<div style="display: flex; flex-direction: column; background-image:url('./assets/img/back.webp')">
    <div class="top">
        <img src="./assets/img/mail.jpg">
        <a routerLink="/homepage" id="header">YAA<span style="color:rgb(250, 97, 41); ">M</span>ail</a>
        <a id="welcome"><span style="margin-right: 5px; color: rgb(250, 97, 41);">Welcome</span>{{username}}</a>
        
        <div class="sidebuttons">
            <a routerLink="/Contacts"><img alt ="Contacts" src="./assets/img/contacts-77.png"><span class="tooltiptext">Contacts</span>
            </a>
            <a routerLink="/SignIn"><img style="margin-left: 8px;" alt ="Logout" src="./assets/img/logout.png"><span class="tooltiptext">Logout</span>
            </a>
        </div>
    </div>
    <div class="main">
        <app-sidebar></app-sidebar>
        <div class="sectiontwo">
            <div style="display: flex;">
            <div style="display: flex; margin-bottom: 10px; width:113vh;margin-top: 15px;">
            <div class="dropdown" style="margin-top: 3px;" >
            <select (change)="selectoption($event)" style="background-color:rgba(255, 166, 0, 0.849);font-weight: bold;">
            <option value="">Select Option...</option>
            <option value="Sort">Sort</option>
            <option value="Search">Search</option>
            </select>
            </div>
            <div id="dropdownoptsort" class="dropdown" style="margin-top:2px; display:none;">
                <label style="font-size: 15px; font-weight: bold;margin-right: 5px;"> Sort by: </label>
                <select name="Options" id="Options" (change)="selectsearchorsortoption($event)"  style="background-color:rgba(0, 255, 255, 0.596);font-weight: bold;">
                <option value=""></option>
                <option value="from" >From</option>
                <option value="subject">Subject</option>
                <option value="body">Body</option>
                <option value="attachment">Attachment</option>
                <option value="priority">Priority</option>
                <option value="date">Date</option>
                </select>
            </div>
            <div id="dropdownoptsearch" class="dropdown" style="display:none;">
                <label style="font-size: 15px; font-weight: bold;margin-right: 5px;">Search by: </label>
                <select name="Options" id="Options" (change)="selectsearchorsortoption($event)" style="background-color:rgba(0, 255, 255, 0.603);font-weight: bold;">
                <option value=""></option>
                <option value="from" >From</option>
                <option value="subject">Subject</option>
                <option value="body">Body</option>
                <option value="attachment">Attachment</option>
                <option value="priority">Priority</option>
                <option value="date">Date</option>
                </select>
            </div>
            <div id="dropdownsort" class="dropdown" style="display: none; margin-top: 0px;">
                <label style="font-size: 15px; font-weight: bold;margin-right: 5px;"> Sort Option </label>
                <select (change)="selectasc($event)" style="background-color:rgba(0, 255, 255, 0.603);font-weight: bold;">
                <option></option>
                <option value="Ascendingly">Ascendingly</option>
                <option value="Descendingly">Descendingly</option>
                </select>
            </div>
            <div id="sort" style="display: none;">
              <div class="searchbutton" style="display: flex;">
                  <a (click)="sort()">Apply</a>
              </div>
          </div>
            
            <div id="search" style="display: none;">
                <div class="searchbutton" style="display: flex;">
                <input type="text" placeholder="Search For" #searchbox style="width:20vh;height:30px;margin-right: 8px;border: 2px solid black;border-radius: 10px;">
                <a  (click)="search1(searchbox.value)" >Search</a>
                </div>
            </div>
            </div>
            <div class="topbuttons" style="display: flex;" >
                <div class="sidebuttons">
                    <a (click)="opena(add)"><img alt ="Add" src="./assets/img/that4.png">
                      <span class="tooltiptext">Move Mail</span>
                    </a>
                  </div>
                  <div class="sidebuttons">
                    <a (click)="bulkdelete()"><img alt ="Edit" src="./assets/img/delete.png">
                      <span class="tooltiptext">Delete Mail</span>
                    </a>
                </div>
                <div class="sidebuttons">
                  <a (click)="restore()"><img alt ="Delete" src="./assets/img/reply.jpg">
                    <span class="tooltiptext">Restore</span>
                  </a>
                </div>
          </div>
      </div>
          <table class="table table-responsive table-striped table-hover">
          <thead>
              <tr>
                  <th style="width: 100px">From</th>
                  <th style="width: 100px">To</th>
                  <th style="width: 100px">subject</th>
                  <th style="width: 100px">Date</th>
                  <th style="width: 100px">Priority</th>

              </tr>
          </thead>
          <tbody *ngFor = "let email of currentemails | paginate:{
            itemsPerPage: 7,
            currentPage:page,
            totalItems:currentemails.length}; let i=index">
        <tr>
            <td> <input type="checkbox" [(ngModel)]="checkes[i]" (ngModelChange)="getValuesChecked()" style="margin-right: 3px;">{{email.from}}</td>
            <td (click)="setmail(email.date)" routerLink="/Mail">{{email.to}}</td>
            <td (click)="setmail(email.date)" routerLink="/Mail">{{email.subject}}</td>
            <td (click)="setmail(email.date)" routerLink="/Mail">{{email.date}}</td>
            <td (click)="setmail(email.date)" routerLink="/Mail" class="priority"><img src="./assets/img/yellow.png"> {{email.priority}}</td>
        </tr>
        </tbody>
        </table>
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="TableDataChange($event)"
            >
        </pagination-controls>
 
</div>
<ng-template #add let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">enter folder name</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div class="form-group">
          <label for="FileName">Enter folder Name</label>
            <input id="firstname" class="form-control" #filename>
      
        </div>
      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark"  (click)="modal.close('Save click');bulkmove(filename.value)" >enter</button>
    </div>
  </ng-template>